# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Chroma DB
chroma_db/

# Data folder
data/

# Test script
test_rag.py

# Hugging Face cache
.cache/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db